#menu{
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none; 
    background: #111;
    border-radius: 50px;
}

#menu li{
    float: left;
    padding: 0 0 10px 0;
    position: relative; }

#menu a{

    float: left;
    height: 25px;
    padding: 0 25px;
    color: #CC6600;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000; }

#menu li:hover > a{
    color: #CC3333; }